body
  font-family: "hwt-gothic-round",  monospace;
  animation cmyk 60s linear infinite      

::-webkit-scrollbar
  width 0.5em

::-webkit-scrollbar-track
  background white

::-webkit-scrollbar-thumb
  background black  


p
  font-family "hwt-gothic-round", monospace
  font-size 1em
    
marquee
  height 100%
  width 100%

iframe
  width 100%
  height 100%
  border 0

ul
  list-style-type none
  

@keyframes cmyk
  0%
    background cyan
  16.66%
    background magenta  
  33%
    background yellow  
  50%
    background black  
  66.66%
    background yellow
  83.33%
    background magenta  
  100%
    background cyan  
    