doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title aye bee sea dee eee eff gee stop etch aye jay kay elle emme enne 0 pee stop elle emme enne 0 pee queue arr ess tea stop you wee you you stop eggs why zed

  link(rel='stylesheet', href='css/tufte.css')  
  link(rel='stylesheet', href='css/main.css')  
  body
    != yield
                
