article
  section
    .flying-carpet
      marquee(direction="down" scrollamount=4)
        marquee(direction="right" scrollamount=4)
          a(href="http://uvuu.xyz")
            img(src="img/oloid.svg")

  section
    a(href="http://uvuu.xyz") 
      ul
        li aye 
        li bee
        li sea
        li dee
        li eee
        li eff
        li gee
        li stop
        li etch
        li aye
        li jay
        li kay
        li elle
        li emme
        li enne
        li 0
        li pee
        li stop
        li elle
        li emme
        li enne
        li 0
        li pee
        li queue
        li arr
        li ess
        li tea
        li stop
        li you
        li wee
        li you
        li you
        li stop
        li eggs
        li why
        li zed



  section
    button \/ \/ | \/ /\ \/ | \/ | /\

        