article
  section
    ul
      li aye
      li bee
      li sea
      li dee
      li eee
      li eff
      li gee
      li stop
      li etch
      li aye
      li jay
      li kay
      li elle
      li emme
      li enne
      li 0
      li pee
      li stop
      li elle
      li emme
      li enne
      li 0
      li pee
      li queue
      li arr
      li ess
      li tea
      li stop
      li you
      li wee
      li you
      li you
      li stop
      li eggs
      li why
      li zed
      
    
      
    section.join

      form.tinyletter(action='https://tinyletter.com/Brud', method='post', target='popupwindow', onsubmit="window.open('https://tinyletter.com/Brud', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
        p
          input#tlemail.email(type='text', value='join', name='email')
          input(type='hidden', value='1', name='embed')
          input.subscribe(type='submit', value='brud')
