ul.kalender
  li &#x632; &#x648;  &#x647;  &#x62F;  &#x62C;  &#x628;  &#x627; 
  li &#x646; &#x645;  &#x644;  &#x643;  &#x64A;  &#x637;  &#x62D; 
  li &#x634; &#x631;  &#x642;  &#x635;  &#x641;  &#x639;  &#x633; 
  li &#x63A; &#x638;  &#x636;  &#x630;  &#x62E;  &#x62B;  &#x62A; 
