.wrapper

  include ../_partials/trikto.jade

  p Trikto is a clock for the ages.

  p A tool for the time-traveler.

  p With three hands of equal length.

  p Firstness, Secondness, & Thirdness.

  p Round & Round they go.
  
  p Every Minute.   

  p Every Hour.  
  
  p Every Day.

